In [32]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

msu = {
    1001: 'KoU',
    1002: 'ViVe',
    1003: 'Tahko',
    1004: 'Manse',
    1005: 'SoJy',
    1006: 'KPL',
    1007: 'JyJu',
    1008: 'IPV',
    1009: 'JoMa',
    1010: 'KaMa',
    1011: 'KeKi',
    1012: 'KiPa',
    1013: 'PattU',
    1014: 'SiiPe',
    1015: 'HP'
}

nsu = {
    2001: 'Fera',
    2002: 'Tahko',
    2003: 'JoMa',
    2004: 'KeKi',
    2005: 'Kirittäret',
    2006: 'Virkiä',
    2007: 'Manse',
    2008: 'MyVe',
    2009: 'PesäYsit',
    2010: 'Pesäkarhut',
    2011: 'SMJ',
    2012: 'SiiPe',
    2013: 'Roihu'
}

In [42]:
events_nsu = pd.read_csv('./events_2021_nsu.csv', low_memory=False)
events_msu = pd.read_csv('./events_2021_msu.csv', low_memory=False)
events_msu['tilanne']

0        Ajo
1        1-3
2        1-2
3          1
4          0
        ...
77045      1
77046    Ajo
77047      1
77048      1
77049    0-2
Name: tilanne, Length: 77050, dtype: object

# Laittomien näppien prosentti joukkueittain

In [54]:
df = pd.DataFrame(columns = ['Joukkue', 'Laiton %', 'Näppien lkmr'])

for team_id in range(1001, 1016):
    evs = events_msu[events_msu['sp'] == team_id]
    evs = evs[(evs['tilanne'] == '1') | (evs['tilanne'] == '1-2')]
    evs = evs[evs['tyyppi'] == 'nappi']
        
    all_napit = len(evs)
    
    all_karkkarit = len(evs[evs['tulos'] == 'Kärkilyönti'])
    
    illegals = len(evs[evs['merkattuLaiton'] == True])
    
    df = df.append({'Joukkue' : msu[team_id], 'Laiton %' : round(illegals / all_napit, 2), 'Näppien lkmr' : all_napit}, ignore_index = True)

df.sort_values(by='Laiton %')

   Joukkue  Laiton % Näppien lkmr
4     SoJy      0.11          351
6     JyJu      0.11          295
2    Tahko      0.13          277
5      KPL      0.14          376
7      IPV      0.15          199
1     ViVe      0.16          372
3    Manse      0.16          382
9     KaMa      0.16          237
0      KoU      0.17          231
10    KeKi      0.18          296
13   SiiPe      0.18          336
11    KiPa      0.19          265
8     JoMa      0.21          292
12   PattU      0.21          277
14      HP      0.21          223

In [57]:
df = pd.DataFrame(columns = ['Joukkue', 'Laiton %', 'Näppien lkmr'])

for team_id in range(2001, 2014):
    evs = events_nsu[events_nsu['sp'] == team_id]
    evs = evs[(evs['tilanne'] == '1') | (evs['tilanne'] == '1-2')]
    evs = evs[evs['tyyppi'] == 'nappi']
        
    all_napit = len(evs)
    
    all_karkkarit = len(evs[evs['tulos'] == 'Kärkilyönti'])
    
    illegals = len(evs[evs['merkattuLaiton'] == True])
    
    df = df.append({'Joukkue' : nsu[team_id], 'Laiton %' : round(illegals / all_napit, 2), 'Näppien lkmr' : all_napit}, ignore_index = True)

df.sort_values(by='Laiton %')

       Joukkue  Laiton % Näppien lkmr
11       SiiPe      0.13          217
12       Roihu      0.14          230
6        Manse      0.15          329
2         JoMa      0.16          245
10         SMJ      0.17          383
7         MyVe      0.18          152
9   Pesäkarhut      0.18          425
1        Tahko      0.19          297
0         Fera      0.21          283
4   Kirittäret      0.21          396
5       Virkiä      0.21          359
3         KeKi      0.22          279
8     PesäYsit      0.22          170